* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* // HEADER // */

header .fa-solid {
  position: absolute;
  top: 21px;
  left: 24px;
  font-size: 21px;
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.logo img {
  width: 162px;
}

/* // MAIN // */

.main img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: bottom;
}

.menu-title {
  padding: 31px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.container {
  position: relative;
}

.menu {
  background: #f7f7f7;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
  width: 100%;
  height: 104.5%;
  top: -51px;
  position: absolute;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 3px;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 7px;
  text-transform: uppercase;
  position: relative;
}

h4::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  background: #99e2d0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* // CARD // */

.anim-1 {
  transition: all 0.5s ease-in;
}

.anim-2 {
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}

.anim-3 {
  transition: all 0.5s ease-in;
  transition-delay: 0.3s;
}

.dishes {
  padding: 0px 13px 0px 13px;
  margin-top: 40px;
  width: 100%;
}

.dishes-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin: 12px 0px 12px 0px;
  overflow: hidden;
}

.dishes-card h4 {
  text-transform: none;
  padding: 0px 15px 0px 15px;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.dishes-card h2 {
  padding: 12px 15px 5px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dishes-card .fa-sharp {
  color: white;
  font-size: 18px;
}

.dishes-card h4::after {
  display: none;
}

.dishes-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  padding: 0px 15px 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s;
}

.dishes-card:hover .price {
  margin-right: 60px;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 70px;
  right: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.dishes-card:hover .icon {
  width: 60px;
}

.button-position {
  display: flex;
  position: relative;
  justify-content: center;
  height: 1084px;
  width: 100%;
}

button {
  bottom: 51px;
  z-index: 1;
  position: absolute;
  width: 218px;
  height: 50px;
  color: white;
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15.5px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* // FOOTER // */

footer {
  background: #353535;
  color: white;
  padding-left: 25px;
  height: 180px;
}
footer .fa-solid {
  color: white;
  padding-right: 10px;
}

footer h6 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  padding: 22px 0px 12px 0px;
}

footer ul {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

footer li {
  margin-bottom: 7px;
}

li a {
  position: absolute;
  display: block;
  width: 50px;
  height: 13px;
}

.like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.like .fa-regular {
  position: absolute;
  font-size: 25px;
  z-index: 0;
}

.like .fa-solid {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 27px;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  transition: all 100ms ease-in-out;
  clip-path: circle(0% at 50% 50%);
}

.fa-regular:hover + .fa-solid {
  opacity: 1;
  clip-path: circle(60% at 50% 50%);
}
@media screen and (max-width: 356px) {
  h1 {
    font-size: 22px;
  }
}

@media screen and (min-width: 425px) {
  .dishes {
    max-width: 634px;
  }
  .menu-title {
    gap: 57px;
  }
  .main img {
    object-position: 87% 59%;
  }

  button {
    bottom: 36px;
  }
  .menu {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .dishes {
    max-width: 634px;
  }
}

@media screen and (min-width: 1240px) {
  .main img {
    height: 392px;
    object-position: 87% 59%;
  }

  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  footer h6 {
    padding: 22px 80px 29px 71px;
  }

  ul {
    display: flex;
    gap: 30px;
    font-weight: 400;
  }
}
